<div class="crop-form">
    @using (Ajax.BeginForm(
                new AjaxOptions()
                {
                    Url = "/api/upload/resizeimage",
                    OnComplete = "",
                }))
    {

    }
</div>
