@model PageEdit

<div class="text-center complete-text">
    <i class="fa fa-fw fa-floppy-o text-success"></i>
    <span class="message">@Locals.DataSaved</span><br />
    <p class="desc">
        <span>
            @Model.GetLocalValue("Title")
        </span>
    </p>
    <div class="links">
        <a href="#" class="nav-link" data-action="edit" data-id="0">
            <i class="fa fa-plus"></i>
            <span>Додати нову сторінку</span>
        </a>
    </div>
</div>

<div class="text-right">
    <a href="#" class="btn btn-link nav-link" data-dismiss="modal">
        <span>@Locals.Close</span>
    </a>
</div>