CouncilCMS.BLL/bin/
CouncilCMS.BLL/obj/
CouncilCMS.Core/bin/
CouncilCMS.DAL/bin/
CouncilCMS.DAL/obj/
CouncilCMS.Core/obj/
CouncilCMS.Entities/bin/
CouncilCMS.Entities/obj/
CouncilCMS.Web.CDN/bin/
CouncilCMS.Web.Core/bin/
CouncilCMS.Web.Core/obj/
xTab.Tools/bin/
xTab.Tools/obj/
CouncilCMS.Web.Council/obj/
CouncilCMS.Web.CDN/obj/
CouncilCMS.Web.Council/bin/
CouncilCMS.Web.Council/obj/
.vs/
*.suo