@model CategoryListItem

<div class="card-sm item" id="divItem@(Model.Id)" data-id="@Model.Id" data-parentId="@Model.ParentCategoryId">
    <div class="div-table">
        <div class="div-cell">
            <span class="link-btn btn-drag btn-@(Model.ParentCategoryId ?? 0)-drag">
                <i class="fa fa-fw fa-bars"></i>
            </span>

            <span class="link-btn btn-expand collapsed"
                  data-toggle="collapse"
                  data-target="#itemChilds-@(Model.Id)"
                  style="display:@((Model.HasChilds || Model.HasDocuments) ? "inline-block" : "none")">
                <i class="fa fa-fw fa-angle-down">

                </i>
            </span>
            <strong class="lang-uk">
                @Model.TitleUk
            </strong>
        </div>

        @*<div class="div-cell">
            <div class="inline-elipsis" style="vertical-align:middle;">
                    
            </div>
        </div>*@
    </div>
</div>
