<ul class="city-services-call">
	<li class="city-services-item">
		МЧС УкраIНИ
		<span>101</span>
	</li>
	<li class="city-services-item">
		ТеРмIнове звернення в полiцiю
		<span>102</span>
	</li>
	<li class="city-services-item">
		Швидка медична допомога
		<span>103</span>
	</li>
</ul>