<div class="text-center">
    <h3>@ViewBag.Message</h3>

    <div class="text-right">
        <button data-remodal-action="cancel" style="margin-top:40px;" class="remodal-cancel btn btn-default">Закрити</button>
    </div> 
</div>
