@model List<CmsBanner>

<div class="cms-banners">
    @foreach (var item in Model)
    {
        <div class="cms-banner">
            <a href="@item.Url" rel="nofollow">
                @if (!String.IsNullOrEmpty(item.Image))
                {
                    <img src="@item.Image" class="cms-banner-img" />
                }
                <span class="cms-banner-text">
                    @item.Text
                </span>
            </a>
        </div>
    }
</div>
