.block-elipsis, .inline-elipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.inline-list {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.inline-list li {
  position: relative;
  display: block;
  float: left; }

/*TAGS*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-transform: uppercase; }

/*LIBS*/
.container-sm {
  max-width: 768px !important; }

.container-xmd {
  max-width: 800px !important; }

.container-md {
  max-width: 992px !important; }

.dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.fotorama__wrap {
  margin: 0 auto; }

/*CLASSES*/
.rel {
  position: relative; }

.text-gray {
  color: #999; }

.bg-blured {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.no-border {
  border: none !important; }

.border-right {
  border-right: 1px solid #ccc; }

.border-top {
  border-top: 1px solid #ccc; }

.no-wrap {
  white-space: nowrap; }

.rot {
  transition: transform ease 0.2s; }

.rotate-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-m90 {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.info-link {
  color: #4caf50;
  text-decoration: none !important; }
  .info-link:visited {
    color: #4caf50;
    text-decoration: none !important; }
  .info-link:hover {
    color: #2196f3;
    text-decoration: underline !important; }
  .info-link:active {
    color: #2196f3;
    text-decoration: underline !important; }
  .info-link:focus {
    color: #2196f3;
    text-decoration: underline !important; }

.white-link {
  color: #fff;
  text-decoration: none !important; }
  .white-link:visited {
    color: #fff;
    text-decoration: none !important; }
  .white-link:hover {
    color: #fff;
    text-decoration: underline !important; }
  .white-link:active {
    color: #fff;
    text-decoration: underline !important; }
  .white-link:focus {
    color: #fff;
    text-decoration: underline !important; }

.link-btns {
  display: inline-block;
  margin-right: 20px; }

.link-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  color: #2196f3;
  text-decoration: none !important;
  cursor: pointer; }
  .link-btn:visited {
    color: #2196f3;
    text-decoration: none !important; }
  .link-btn:hover {
    color: #2196f3;
    text-decoration: none !important; }
  .link-btn:active {
    color: #2196f3;
    text-decoration: none !important; }
  .link-btn:focus {
    color: #2196f3;
    text-decoration: none !important; }

.dash-link {
  display: inline-block;
  color: #666;
  text-decoration: none !important;
  cursor: pointer; }
  .dash-link:visited {
    color: #666;
    text-decoration: none !important; }
  .dash-link:hover {
    color: #39a1f4;
    border-bottom: 1px dotted #39a1f4; }
  .dash-link:active {
    color: #39a1f4;
    border-bottom: 1px dotted #39a1f4; }
  .dash-link:focus {
    color: #39a1f4;
    border-bottom: 1px dotted #39a1f4; }

.white-wrap {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 5; }

.simple-loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("/img/parts/line-loading.gif");
  background-position: center;
  background-repeat: no-repeat; }

.block-elipsis {
  display: block; }

.inline-elipsis {
  display: inline-block; }

.autocomplete-suggestions {
  border: 1px solid #ddd !important;
  background: #FFF !important;
  overflow: auto !important;
  z-index: 10001 !important; }

.autocomplete-suggestion {
  padding: 5px 10px !important;
  white-space: normal !important; }

.autocomplete-selected {
  background: #F0F0F0 !important; }

.autocomplete-suggestions strong {
  font-weight: normal !important;
  color: #2196f3 !important; }

.autocomplete-group {
  padding: 5px 10px !important; }

.autocomplete-group strong {
  display: block !important;
  border-bottom: 1px solid #000 !important; }

.div-table {
  display: table;
  width: 100%; }
  .div-table .div-row {
    display: table-row; }
  .div-table .div-cell {
    display: table-cell;
    width: auto;
    vertical-align: middle; }
  .div-table .div-cell.min {
    width: 1px; }

/*Content*/
.page-content .content-desc {
  margin-top: 15px;
  color: #666;
  text-align: center;
  font-style: italic; }

.page-content.content-text table td {
  padding: 5px; }

.page-content.content-text img[style*='float:left'] {
  margin: 0 15px 10px 0; }

.page-content.content-text img[style*='float:right'] {
  margin: 0 0 10px 15px; }

.page-content.content-text h2 {
  color: #2196f3;
  display: block;
  padding: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 300;
  text-transform: none;
  font-variant: normal; }

.page-content.content-text h3 {
  color: #2196f3;
  display: block;
  padding: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 300;
  text-transform: none;
  font-variant: normal; }

.page-content.content-image a {
  display: block; }

.page-content.content-image img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.page-content.content-file.text-left .fa {
  color: #2196f3;
  display: block;
  float: left;
  line-height: 1.428571429; }

.page-content.content-file.text-left .fa + a {
  display: block;
  margin-left: 1.8em; }

.page-content.content-file.text-right .fa {
  color: #2196f3;
  display: block;
  float: right;
  line-height: 1.428571429; }

.page-content.content-file.text-right .fa + a {
  display: block;
  margin-right: 1.8em; }

.page-content.content-file.text-center .fa {
  color: #2196f3;
  display: inline-block;
  margin-right: 0.5em; }

.page-content.content-table td {
  padding: 5px 10px;
  font-size: 12px; }

.page-content.content-table .table-desc {
  padding: 10px;
  text-align: center;
  font-style: italic; }

.page-content.content-gallery {
  background: #f7f7f7; }
  .page-content.content-gallery .gallery-desc {
    text-align: center;
    margin-bottom: 15px; }

@media (min-width: 768px) and (max-width: 1000px) {
  .no-border-sm {
    border: none !important; } }

@media (max-width: 767px) {
  .div-table {
    display: block; }
    .div-table .div-row {
      display: block; }
    .div-table .div-cell {
      display: block; }
  .text-center-xs {
    text-align: center; }
  .inline-block-xs {
    display: inline-block;
    float: none; }
  .no-border-xs {
    border: none !important; } }

.block-elipsis, .inline-elipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.inline-list {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.inline-list li {
  position: relative;
  display: block;
  float: left; }

html, body {
  height: 100%;
  font-family: 'Open Sans'; }

body {
  margin: 0;
  padding: 0;
  background-image: url("http://cdn.bissoft.org/img/parts/def_bg_1200.jpg");
  background-size: cover; }

div, header, footer {
  box-sizing: border-box; }

.logo {
  margin-bottom: 50px; }
  .logo img {
    display: block;
    max-width: 200px;
    max-height: 190px;
    width: 100%;
    margin: 0 auto; }

.title {
  text-shadow: 1px 1px 1px #353d42; }
  .title strong {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700; }
  .title span {
    display: block;
    font-size: 20px;
    font-weight: 300; }

.blur-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

.blur-wrap .inner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url("http://cdn.bissoft.org/img/parts/def_bg_1200.jpg");
  filter: blur(10px);
  transform: scale(1.05); }

.left {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  display: table; }

.right {
  position: relative;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  display: table;
  text-shadow: 1px 1px 1px #353d42;
  text-align: center;
  color: #fff; }

.left .content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center; }

.right .content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: left; }
  .right .content .inner {
    text-align: center; }
  .right .content a, .right .content a:visited, .right .content a:hover, .right .content a:active {
    color: #fff; }

.card {
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: left; }

.card-heading {
  padding: 20px 40px;
  background: #2196f3;
  color: #fff;
  border-radius: 2px 2px 0 0; }
  .card-heading h1 {
    font-size: 50px;
    text-transform: uppercase; }
  .card-heading h2 {
    font-size: 24px;
    text-transform: none; }

.card-content {
  padding: 40px; }

.card-footer {
  padding: 20px 40px;
  border-top: 1px solid #ddd; }

.transparent-card {
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.content .inner {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 40px; }

.error {
  position: relative;
  display: inline-block;
  text-transform: lowercase;
  text-align: center;
  z-index: 3; }

.error-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

.error-label {
  position: relative;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  z-index: 3;
  color: #fff; }

.error-code {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 200px;
  line-height: 150px;
  text-shadow: 1px 1px 1px #353d42;
  color: #fff;
  font-weight: 700;
  text-align: right;
  z-index: 3; }

.error-desc {
  position: relative;
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
  font-weight: 300;
  z-index: 3;
  font-weight: 700;
  text-shadow: 1px 1px 1px #353d42; }

.error-tip {
  font-size: 20px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #353d42; }

