@model MkIndex


<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
	<!-- ### -->
	<link rel="stylesheet" href="~/Content/chosen/chosen.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- ### -->
	<link rel="stylesheet" href="~/Content/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="~/Content/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<title>Центр допомоги переселенцям</title>
</head>
<body>
	<header>
		<div class="mobile_header">
			<div class="container">
				<div class="mobile_logo">
					<a href="/">
						<span class="logo"><img class="gerb-icon" src="~/Content/img/group-132.png" alt=""></span>
					</a>
				</div>
				<div class="mobile_breadcrumbs">
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="mobile_sandvich">
					<div class="mobile_collapsed">
						<div class="close_mobile_collapsed"></div>
						<div class="logo_container">
							<a href="/">
								<span class="logo"><img src="~/Content/img/Gerb.png" alt=""><img class="gerb-icon" src="~/Content/img/group-132.png" alt=""></span>
							</a>
							<div class="slogan">
								<h5>Донецький обласний Центр допомоги переселенцям та відновлення Донбасу</h5>
							</div>
						</div>
						<div class="main_menu">
							<ul>
								<li><a href="#">Головна</a></li>
								<li><a href="#">Новини</a></li>
								<li><a href="#">Пільги та гарантії</a></li>
								<li><a href="#">Контакти</a></li>
							</ul>
						</div>
						<div class="low">
							<img src="~/Content/img/accessibility-icon-big.png" alt="">
							Версія для людей з обмеженими можливостями
						</div>
						<div class="language_mob">
							<img src="~/Content/img/language-icon-big.png" alt="">
							<span>English</span>
						</div>
						<div class="login">
							<img src="~/Content/img/avatar.png" alt="">
							<span>Вхід</span>
						</div>
						<div class="social">
							<ul>
								<li><a href="#"><img src="~/Content/img/Facebook@1x.png" alt=""></a></li>
								<li><a href="#"><img src="~/Content/img/twitter.png" alt=""></a></li>
							</ul>
						</div>
						<div class="mob_logo"><img src="~/Content/img/gov-site.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="top_panel">
			<div class="container">
				<div class="top_logo">
					<a href="#"><img src="~/Content/img/gov-site.png" alt=""></a>
				</div>
				<div class="social">
					<ul>
						<li><a href="#"><img src="~/Content/img/Facebook@1x.png" alt=""></a></li>
						<li><a href="#"><img src="~/Content/img/twitter.png" alt=""></a></li>
					</ul>
				</div>
				<div class="right heder_block_dopmenu">
					<a href="#" class="low_vis"><img src="~/Content/img/accessibility-icon-big.png" alt=""></a>
					<div class="language">
						<img src="~/Content/img/language-icon-big.png" alt="">
						<span>English</span>
						<div class="language_menu">
							<ul>
								<li>
									<img src="~/Content/img/ua.png" alt="">
									<a href="#">Українська</a>
								</li>
								<li>
									<img src="~/Content/img/gb.png" alt="">
									<a href="#">English</a>
								</li>
								<li>
									<img src="~/Content/img/ru.png" alt="">
									<a href="#">Русский</a>
								</li>
							</ul>

						</div>
					</div>
					<div class="login">
						<img src="~/Content/img/avatar.png" alt="">
						<span>Рева О.О.</span>
						<div class="logined_menu">
							<ul>
								<li><a href="#">Настройки</a></li>
								<li><a href="#">Вихід</a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main_header">
			<div class="container">
				<div class="logo_container">
					<a href="/">
						<span class="logo"><img src="~/Content/img/Gerb.png" alt=""><img class="gerb-icon" src="~/Content/img/group-132.png" alt=""></span>
					</a>
					<div class="slogan">
						<h5>Центр допомоги переселенцям Лиманської ОТГ</h5>
						<p>та відновлення Донабасу при ДонВЦОДА</p>
					</div>
				</div>
				<div class="right">
					<div class="main_menu">
						<ul>
							<li><a href="#">Головна</a></li>
							<li><a href="#">Потрібна допомога</a></li>
							<li><a href="#">Пільги та гарантії</a></li>
							<li><a href="#">Контакти</a></li>
						</ul>
					</div>
				</div>
				<div class="main_info_container">
					<div class="main_info_container_text">
						<div class="main_info_container_text_header">
							Допомога тим, хто її потребує
						</div>
						<div class="main_info_container_text_desc">Ми вважаємо, що у кожного повинен бути будинок, в якому людина відчуває себе в безпеці.</div>
						<div class="main_info_container_link"><a href="#">Як це працює</a></div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="inform_container">
		<div class="container">
			<div class="inform_container_left">
				<div class="inform_imigrant_name">Для переселенців</div>
				<div class="inform_imigrant_elems">
					<div class="inform_imigrant_elem">
						<div class="inform_imigrant_elem_name">Отримання статусу переселенця</div>
						<div class="inform_imigrant_elem_text">Внутрішньо переміщена особа – громадянин України, іноземець або людина без громадянства, який законно перебуває на території країни й має право на постійне проживання.</div>
					</div>
					<div class="inform_imigrant_elem">
						<div class="inform_imigrant_elem_name">Отримання статусу переселенця</div>
						<div class="inform_imigrant_elem_text">Внутрішньо переміщена особа – громадянин України, іноземець або людина без громадянства, який законно перебуває на території країни й має право на постійне проживання.</div>
					</div>
					<div class="inform_imigrant_elem">
						<div class="inform_imigrant_elem_name">Отримання статусу переселенця</div>
						<div class="inform_imigrant_elem_text">Внутрішньо переміщена особа – громадянин України, іноземець або людина без громадянства, який законно перебуває на території країни й має право на постійне проживання.</div>
					</div>
				</div>
			</div>
			<div class="inform_container_right">
				<div class="inform_imigrant_name">Сім’ям</div>
				<div class="inform_container_right_block">
					<ul>
						<li><a href="#">Потребую допомоги</a></li>
						<li><a href="#">Пільги</a></li>
						<li><a href="#">Безкоштовні консультації</a></li>
						<li><a href="#">Отримання грошової допомоги</a></li>
						<li><a href="#">Санаторно-курортне лікування </a></li>
					</ul>
					<div class="inform_container_link"><a href="#">Переглянути увесь перелік</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="news_container">
		<div class="container">
			<div class="inform_imigrant_name">Новини</div>
			<div class="news_elems">
				<div class="inform_container_left">
					<div class="main_new">
						<img src="~/Content/img/kpp_0.jpg" alt="">
						<div class="main_new_info">
							<div class="main_new_date">31 листопада 2018</div>
							<a href="#">
								Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу
							</a>
						</div>
					</div>
					<div class="sub_news_elems">
						<div class="sub_news_elem">
							<div class="sub_news_elem_info">
								<div class="sub_news_elem_name"><a href="#">Уряд Німеччини виділив грант у розмірі 9 млн євро на будівництва нового житла або реконструкції будівель під житло для внутрішньо переміщених осіб.</a></div>
								<div class="sub_news_elem_date">18 Жовтня 2018</div>
							</div>
							<div class="sub_news_elem_photo">
								<img src="~/Content/img/sonnyk-pasport-21.jpeg" alt="">
							</div>
						</div>
						<div class="sub_news_elem">
							<div class="sub_news_elem_info">
								<div class="sub_news_elem_name"><a href="#">Уряд Німеччини виділив грант у розмірі 9 млн євро на будівництва нового житла або реконструкції будівель під житло для внутрішньо переміщених осіб.</a></div>
								<div class="sub_news_elem_date">18 Жовтня 2018</div>
							</div>
							<div class="sub_news_elem_photo">
								<img src="~/Content/img/sonnyk-pasport-21.jpeg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inform_container_right">
					<div class="news_right_col">
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">16:43</div>
							<div class="news_right_col_elem_name"><a href="#">Перетнути лінію зіткнення на Донбасі з товарами тепер можна тільки раз на добу</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ready_help_container">
		<div class="container">
			<div class="ready_help_left_block">
				<div class="ready_help_left_block_line">
					<p>Кількість зареєстрованих звернень:</p>
					<div>6 416</div>
				</div>
				<div class="ready_help_left_block_line">
					<p>Кількість зареєстрованих звернень:</p>
					<div>6 416</div>
				</div>
				<div class="ready_help_left_block_line">
					<p>Кількість зареєстрованих звернень:</p>
					<div>6 416</div>
				</div>
				<div class="ready_help_left_block_line">
					<p>Кількість зареєстрованих звернень:</p>
					<div>6 416</div>
				</div>
			</div>
			<div class="ready_help_text">
				<p>Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога.</p>
				<a href="#">Написати звернення</a>
			</div>
		</div>
	</div>
	<div class="last_restore_container">
		<div class="container">
			<div class="inform_imigrant_name">Останні відновленні об`єкти</div>
			<div class="last_restore_elems">
				<div class="last_restore_elem">
					<img src="~/Content/img/cafe.jpg" alt="">
					<a href="#">У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... </a>
					<div class="last_restore_date">23 липня 2018</div>
				</div>
				<div class="last_restore_elem">
					<img src="~/Content/img/cafe.jpg" alt="">
					<a href="#">У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... </a>
					<div class="last_restore_date">23 липня 2018</div>
				</div>
				<div class="last_restore_elem">
					<img src="~/Content/img/cafe.jpg" alt="">
					<a href="#">У наслідок попадання снаряда вогнем практично повністю знищений громадський простір який відновили... </a>
					<div class="last_restore_date">23 липня 2018</div>
				</div>
			</div>
		</div>
	</div>
	<div class="how_this_work_container">
		<div class="container">
			<div class="how_this_work_slider owl-carousel">
				<div class="item">
					<div class="slide_name">Як це працює ?</div>
					<div class="slider_text">Тимчасово переміщені осіби зазвичай переїжджають в нове місто в надії інтегруватися в місцеве співтовариство, щоб розпочати нове жіття.<br><br> Їх проживання координується організаціями по допомогу переселенців.</div>
					<div class="slider_image"><img src="~/Content/img/fam-bg-image.png" alt=""></div>
				</div>
				<div class="item">
					<div class="slide_name">Як це працює ?</div>
					<div class="slider_text">Тимчасово переміщені осіби зазвичай переїжджають в нове місто в надії інтегруватися в місцеве співтовариство, щоб розпочати нове жіття.<br><br> Їх проживання координується організаціями по допомогу переселенців.</div>
					<div class="slider_image"><img src="~/Content/img/fam-bg-image.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
	<div class="can_help_container">
		<div class="container">
			<div class="can_help_title">Ваша некомерційна організація хоче працювати з нашим Центром?</div>
			<div class="can_help_link"><a href="#">Напишіть нам</a></div>
			<div class="can_help_info">Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога. <a href="#">Приєднуйтесь до нашої спільноти.</a></div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer_top">
				<div class="footer_top_info">
					<div class="footer_top_info_logos">
						<img src="~/Content/img/Gerb.png" alt="">
						<img class="gerb-icon" src="~/Content/img/group-132.png" alt="">
					</div>
					<div class="footer_top_info_sitename">
						Донецький обласний Центр допомоги переселенцям та відновлення Донбасу
						<a href="#">Зворотній зв'язок</a>
					</div>
					<div class="low_visible">
						<img src="~/Content/img/accessibility-icon-big.png" alt="">
						<a href="#">Версія для людей з обмеженими можливостями</a>
					</div>
				</div>
				<div class="footer_top_menus">
					<div class="foot_menu1">
						<div class="foot_menu_name">Меню</div>
						<ul>
							<li><a href="#">Головна</a></li>
							<li><a href="#">Новини</a></li>
							<li><a href="#">Пільги та гарантії</a></li>
							<li><a href="#">Контакти</a></li>
						</ul>
					</div>
					<div class="foot_menu2">
						<div class="foot_menu_name">Пільги та гарантії</div>
						<ul>
							<li><a href="#">Отримання довідки ВПО</a></li>
							<li><a href="#">Пільги ВПО</a></li>
							<li><a href="#">Порядок оформлення матеріальної допомоги</a></li>
							<li><a href="#">Право ВПО на отримання житла</a></li>
							<li><a href="#">Санаторно-курортне лікування дітей-переселенців</a></li>
							<li><a href="#">Отримання одноразової грошової допомоги</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer_bot">
				<div class="footer_bot_socials">
					<a href="#"><img src="~/Content/img/Facebook_bottom@1x.png" alt=""></a>
					<a href="#"><img src="~/Content/img/twitter.png" alt=""></a>
				</div>
				<div class="footer_bot_copyright">
					<img src="~/Content/img/bissoft-icon.png" alt="">
					<p>Компанія «БІС-СОФТ»</p>
					<p>Всі права захищені.</p>
				</div>
				<div class="footer_bot_licensing">
					<img src="~/Content/img/icon.png" alt="">
					<p>Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</p>
				</div>

			</div>
		</div>
	</div>
	<div class="alert_popup">
		<div class="container">
			<img src="~/Content/img/warning.png" alt="">
			<div class="alert_popup_text">Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.</div>
			<img class="cancel_icon" src="~/Content/img/cancel.png" alt="">
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
	<!-- ### -->
	<script src="~/Content/chosen/chosen.jquery.js" type="text/javascript"></script>
	<!-- ### -->
	<script src="~/Content/owlcarousel/owl.carousel.min.js"></script>
	<script src="~/Content/js/custom.js"></script>
</body>
</html>