@import "../../libs/bootstrap-smartcity/css/bootstrap/_variables.scss";
@import "_mixins.scss";

html, body { height: 100%; font-family: 'Open Sans'; }
body { margin:0; padding:0;  background-image:url("http://cdn.bissoft.org/img/parts/def_bg_1200.jpg"); background-size:cover; }
div, header, footer { box-sizing:border-box; }

.logo { 
        margin-bottom:50px;
        img { display:block; max-width:200px; max-height:190px; width:100%; margin:0 auto; }
    }

.title {    
    text-shadow:1px 1px 1px #353d42;         
    strong { display:block; margin-bottom:10px; font-size:30px; text-transform:uppercase; font-weight:700; }
    span { display:block; font-size:20px; font-weight:300; }
}

.blur-wrap { position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden;  box-shadow:0 0 5px rgba(0,0,0,.8); }
.blur-wrap .inner { height:100%; width:100%; background-size:cover; background-image:url("http://cdn.bissoft.org/img/parts/def_bg_1200.jpg"); filter:blur(10px); transform:scale(1.05); }

.left { position:relative; width:50%; height:100%; float:left; display:table; }
.right { position:relative; width:50%; height:100%; margin-left:50%; display:table; text-shadow:1px 1px 1px #353d42; text-align:center; color:#fff; }
.left .content { display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:center; }
.right .content { 
    display:table-cell; width:100%; height:100%; vertical-align:middle; text-align:left; 
    .inner { text-align:center; }
    a, a:visited, a:hover, a:active { color:#fff; }
}

.card { @include card-base; text-align:left; }
.card-heading { 
    padding:20px 40px; background:$brand-primary; color:#fff; border-radius:2px 2px 0 0;
    h1 { font-size:50px; text-transform:uppercase; } 
    h2 { font-size:24px; text-transform:none; }
}
.card-content { padding:40px; }
.card-footer { padding:20px 40px; border-top:1px solid #ddd; }
.transparent-card { padding:40px 0; background:rgba(0,0,0,.4); border-radius:20px; }

.content .inner { display:inline-block; width:100%; max-width:600px; padding:40px; }

.error { position:relative; display:inline-block; text-transform:lowercase; text-align:center; z-index:3; }
.error-wrap { position:absolute; top:0; left:0; right:0; bottom:0; z-index:2; }
.error-label { position:relative; font-size:20px; line-height:40px; font-weight:300; z-index:3; color:#fff; }
.error-code { position:relative; display:inline-block; margin-bottom:50px; font-size:200px; line-height:150px; text-shadow:1px 1px 1px #353d42; color:#fff;  font-weight:700; text-align:right; z-index:3; }
.error-desc { position:relative; margin-bottom:10px; font-size:30px; color:#fff; line-height:40px; font-weight:300; z-index:3; font-weight:700; text-shadow:1px 1px 1px #353d42; }
.error-tip { font-size:20px; font-weight:300; text-shadow:1px 1px 1px #353d42; }



