@model List<MenuListItem>

@if (Model != null && Model.Count() > 0)
{
    foreach (var menu in Model)
    {
        <div class="block-sm">
            @Html.Partial("_prtMenuListItem", menu)
            <div class="collapse related-list" id="containerChilds@(menu.Id)" data-id="0">
                @if (menu.MenuItems != null && menu.MenuItems.Count > 0)
                {
                    @Html.Partial("_prtMenuItemList", menu.MenuItems)
                }
            </div>
        </div>
    }
}
