@{
    ViewBag.Title = "Меню";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="pull-right">
        <div class="dropdown" style="display:inline-block">
            <a href="#" class="btn btn-link" data-toggle="dropdown" id="ddlLang" title="мова відображення">
                <i class="fa fa-fw fa-globe"></i>
                <span>@CurrentCulture.Name.ToLower()</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right list-lang-swicher">
                <li>
                    <a href="#" data-lang="uk">українська</a>
                </li>
                <li>
                    <a href="#" data-lang="ru">російська</a>
                </li>
                <li>
                    <a href="#" data-lang="en">англійська</a>
                </li>
            </ul>
        </div>

        @if (User.HasPremission("menu_full"))
        {
            <a href="№" class="btn btn-primary nav-link" data-action="edit-container" data-id="-1">
                <i class="fa fa-fw fa-plus"></i>
                <span>
                    @Locals.Add Меню
                </span>
            </a>
        }
    </div>
    <h1>
        Меню
    </h1>
</div>

<div id="divList" class="rel"></div>

<div id="divEdit" class="modal modal-700 fade" tabindex="-1" data-width="700" style="display:none;">
    <div class="modal-body"></div>
</div>

<script>
    $(function () {
        window.divList = $("#divList");
        window.divEdit = $("#divEdit");

        window.getList = function (pushState) {
            pushState = pushState || true;

            bsAdmin.startProcessing();

            $.get("/uk/controlpanel/menus/list?ajaxmode=true", window.currentState, function (r) {
                window.divList.html(r);
                window.createSortable();
                bsAdmin.endProcessing();

                if (pushState)
                    window.pushState();
            });
        };

        window.getMenuEdit = function (pushState) {
            pushState = pushState || true;

            $('body').modalmanager('loading');

            window.divEdit.find(".modal-body").load("/uk/controlpanel/menus/getmenuform", window.currentState, function () {
                window.divEdit.modal({ backdrop: 'static', keyboard: false });

                if (pushState)
                    window.pushState();
            });
        }

        window.getMenuItemEdit = function (pushState) {
            pushState = pushState || true;

            $('body').modalmanager('loading');

            window.divEdit.find(".modal-body").load("/uk/controlpanel/menus/getmenuitemform", window.currentState, function () {
                window.divEdit.modal({ backdrop: 'static', keyboard: false });

                if (pushState)
                    window.pushState();
            });
        }

        window.removeMenu = function (id) {
            if (confirm("Ви впевнені що бажаєте видалити елемент? Цю дію не можливо відмінити!")) {
                bsAdmin.startProcessing();

                $.post("/uk/controlpanel/menus/removemenu", { id: id }, function () {
                    $("#divContainer" + id).parent().remove();
                    bsAdmin.endProcessing();
                });
            }
        }

        window.removeMenuItem = function (id) {
            if (confirm("Ви впевнені що бажаєте видалити елемент? Цю дію не можливо відмінити!")) {
                bsAdmin.startProcessing();

                $.post("/uk/controlpanel/menus/removemenuitem", { id: id }, function () {
                    $("#divItem" + id).parent().remove();
                    bsAdmin.endProcessing();
                });
            }
        }

        window.saveContainerComplete = function (target, containerId) {
            window.divEdit.modal('hide');
        }

        window.saveItemComplete = function (target, containerId, parentId) {
            window.createSortable();
            window.divEdit.modal('hide');
            $("#" + target).addClass('in');
            $("#divItem" + parentId).find(".btn-expand").show().addClass("rotate-180");
            $("#divContainer" + containerId).find(".btn-expand").show().addClass("rotate-180");
        }


        window.createListState = function () {
            window.currentState = {};

            return window.currentState;
        }

        window.createEditMenuState = function (id) {
            window.currentState = { id: id };
            return window.currentState;
        }

        window.createEditMenuItemState = function (id, pId, mId) {
            window.currentState = { id: id, parentId: pId, menuId: mId };
            return window.currentState;
        }

        window.createSortable = function () {
            $("#divList .related-list").sortable({

                start: function (event, ui) {
                    ;
                    ui.item.startPos = ui.item.index();
                },

                update: function (event, ui) {


                    var $parent = $(ui.item).parent('.related-list');
                    var parentId = $parent.prev().attr('data-id');
                    var menuId = $parent.prev().attr('data-container-id');

                    var $allSubMenus = $('> .rel > .card-sm.item', $parent);

                    var $subMenusIds = $allSubMenus.map(function (index, el) {
                        $query = $(el).attr('data-id');
                        return $query;
                    });

                    var elements = [];
                    $.each($subMenusIds, function (index, elem) {
                        elements.push(elem);
                    });

                    var obj =
                    {
                        "MenuItems": elements,
                        "ParentId": parentId,
                        "MenuId": menuId,
                    };

                    var nObj = JSON.stringify(obj);

                    $.ajax({
                        url: "/uk/controlpanel/menus/UpdateSubMenuPosition",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(obj),
                        success: function () {
                            bsAdmin.endProcessing();
                        }
                    });

                    //$.post(
                    //    "/uk/controlpanel/menus/UpdateSubMenuPosition",
                    //    {
                    //        ParentId: parentId,
                    //        MenuIds: subMenusIds
                    //    },
                    //    function() {
                    //        bsAdmin.endProcessing();
                    //    });
                }
            });
            $("#divList .related-list").disableSelection();

            //$(".related-list").each(function () {
            //    var t = $(this);
            //    try {
            //        t.sortable("destroy");
            //    }
            //    catch (ex) { }

            //    var sort = Sortable.create(t[0], {
            //        handle: ".btn-" + t.data("id") + "-drag",
            //        animation: 150,
            //        onEnd: function (e) {
            //            bsAdmin.startProcessing();
            //            var item = $(e.item).children(".item");

            //            $.post(
            //                "/uk/controlpanel/menus/updateposition",
            //                { id: item.data("id"), parentId: item.data("parent-id"), menuId: item.data("container-id"), oldPosition: e.oldIndex + 1, newPosition: e.newIndex + 1 },
            //                function () {
            //                    bsAdmin.endProcessing();
            //                });
            //        }
            //    });
            //});
        }
    });
    // <><>
    $(function () {
        window.getList();

        if (window.currentState.menuId != undefined) {
            window.getMenuItemEdit();
        } else if (window.currentState.Id != undefined) {
            window.getMenuEdit();
        }

        $(document).on("click", ".nav-link", function (e) {
            e.preventDefault();
            var t = $(this);

            switch (t.data("action")) {
                case "edit-container":
                    window.createEditMenuState(t.closest('.container').data("id"));
                    window.getMenuEdit();
                    break;
                case "edit-item":
                    var item = t.closest(".item");
                    window.createEditMenuItemState(t.data("id") || item.data("id"), t.data("parent-id") || item.data("parent-id"), t.data("container-id") || item.data("container-id"));
                    window.getMenuItemEdit();
                    break;
                case "remove-container":
                    window.removeMenu(t.data("id") || t.closest('.container').data("id"));
                    break;
                case "remove-item":
                    window.removeMenuItem(t.closest('.item').data("id"));
                    break;
                default:
                    window.createListState();
                    window.getList();
            }
        });

        $(document).on("click", ".btn-expand", function () {
            $(this).toggleClass("rotate-180");
        });

        $(document).on("change", "#ddlTypeSelect", function () {
            var type = $(this).find(":selected").val();
            $(".menu-item-value > div").hide().find(".form-control").prop("disabled", true);
            $("#ddl" + type).prop("disabled", false);
            $("#div" + type).show().find(".form-control").prop("disabled", false);
            $(".bs-select").selectpicker('refresh');
        });
    });
</script>

