@model MenuItemItem

<button class="accordion">@Model.Title</button>
<div class="panel">
    @foreach (var childItem in Model.ChildMenuItems)
    {
        <button class="accordion">@childItem.Title</button>
        <div class="panel">               
            @Html.EditorFor(x => childItem.ChildMenuItems)
        </div>
    }
</div>



