<style type="text/css">
    .pdf-cover { font-family:Arial, Helvetica, sans-serif; }
    .pdf-cover-img { display:block; width:100%; margin-bottom:300px; }
    .pdf-cover-number { float:left; padding:20px; font-size:40px; color:#158aa2; background-color:#95cad5; }
    .pdf-cover-date { text-align:right; font-size:25px; color:#158aa2; }
</style>

<div class="pdf-cover">
    <img class="pdf-cover-img" src="@cdbHost/img/parts/newsletter-cover.jpg" />
    <div class="pdf-cover-number">
        № @ViewBag.Number
    </div>
    <div class="pdf-cover-date">
        @ViewBag.Date
    </div>
</div>

  