<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bissoft.CouncilCMS.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <Bissoft.CouncilCMS.DAL.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<!--
				<value>Server=94.130.164.96;Port=3306;Database=cms_mk;uid=asp_user;pwd=xPe18cm_27_AspUser;charset=cp1251;</value>
				<value>Server=94.130.164.96;Port=3306;Database=cms_pokrovsk;uid=asp_user;pwd=xPe18cm_27_AspUser;charset=cp1251;</value>
				<value>Server=94.130.164.96;Port=3306;Database=cms_ohtyrka;uid=asp_user;pwd=xPe18cm_27_AspUser;charset=cp1251;</value>
				<value>Server=localhost;Port=3306;Database=cms_test;uid=root;pwd=admin;charset=cp1251;</value>
				 -->
				<value>Server=94.130.164.96;Port=3306;Database=cms_safe.okhtyrkamr.gov.ua;uid=asp_user;pwd=xPe18cm_27_AspUser;charset=cp1251;</value>

			</setting>
    </Bissoft.CouncilCMS.DAL.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
</configuration>