<div class="main_content_right">
	<div class="about_informer_block">
		<p>Кількість нових консультацій на цьому тижні:</p>
		<span>35</span>
		<p>Кількість голосів за цей тиждень:</p>
		<span>23 459</span>
		<p>Кількість переглядів консультацій за цей тиждень:</p>
		<span>29 105</span>
		<div class="inform_container_link"><a href="#">Переглянути увесь перелік</a></div>
	</div>
</div>
