@{
    ViewBag.Title = "Типи документів";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="pull-right">    
        <div class="dropdown" style="display:inline-block">
            <a href="#" class="btn btn-link" data-toggle="dropdown" id="ddlLang" title="мова відображення">
                <i class="fa fa-fw fa-globe"></i>
                <span>@CurrentCulture.Name.ToLower()</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right list-lang-swicher">
                <li>
                    <a href="#" data-lang="uk">українська</a>
                </li>
                <li>
                    <a href="#" data-lang="ru">російська</a>
                </li>
                <li>
                    <a href="#" data-lang="en">англійська</a>
                </li>
            </ul>
        </div>    
                          
        <a href="#" class="btn btn-primary nav-link" data-action="edit-item" data-id="-1" data-parent="">
            <i class="fa fa-plus"></i>
            <span>
                @Locals.Add
            </span>
        </a>
        
    </div>
    <h1>
        Типи документів
    </h1>
</div>

<div id="divList"></div>

<div id="divEdit" class="modal modal-600 fade" tabindex="-1" data-width="600" style="display:none;">
    <div class="modal-body"></div>
</div>

<script>
    (function () {
        window.divList = $("#divList");
        window.divEdit = $("#divEdit");

        window.getList = function (pushState) {
            pushState = pushState || true;

            bsAdmin.startProcessing();

            $.get("/uk/controlpanel/doctypes/list?ajaxmode=true", window.currentState, function (r) {
                window.divList.html(r);
                window.createSortable();
                bsAdmin.endProcessing();

                if (pushState)
                    window.pushState();
            });
        };

        window.getItemEdit = function (pushState) {
            pushState = pushState || true;

            $('body').modalmanager('loading');

            window.divEdit.find(".modal-body").load("/uk/controlpanel/doctypes/getform", window.currentState, function () {
                window.divEdit.modal({ backdrop: 'static', keyboard: false });

                if (pushState)
                    window.pushState();
            });
        }

        window.removeItem = function (id) {
            if (confirm("Ви впевнені що бажаєте видалити елемент? Цю дію не можливо відмінити!")) {
                bsAdmin.startProcessing();

                $.post("/uk/controlpanel/doctypes/remove", { id: id }, function () {
                    $("#divItem" + id).parent().remove();
                    bsAdmin.endProcessing();
                });
            }
        }

        window.saveItemComplete = function () {
            window.divEdit.modal('hide');
        }


        window.createListState = function () {
            window.currentState = {};

            return window.currentState;
        }

        window.createEditItemState = function (id, pId) {
            window.currentState = { id: id, parentId: pId };
            return window.currentState;
        }

        window.createSortable = function () {
                 var t = window.divList;
                try {
                    t.sortable("destroy");
                }
                catch (ex) { }

                var sort = Sortable.create(t[0], {
                    handle: ".btn-drag",
                    animation: 150,
                    onEnd: function (e) {
                        bsAdmin.startProcessing();
                        var item = $(e.item);

                        $.post(
                            "/uk/controlpanel/doctypes/updateposition",
                            { id: item.data("id"), parentId: 0, oldPosition: e.oldIndex + 1, newPosition: e.newIndex + 1 },
                            function () {
                                bsAdmin.endProcessing();
                            });
                    }
                });

        }
    }());
</script>

<script>
    $(function () {
        window.getList();

        if (window.currentState.Id != undefined) {
            window.getItemEdit();
        }

        $(document).on("click", ".nav-link", function (e) {
            e.preventDefault();
            var t = $(this);

            switch (t.data("action"))
            {
                case "edit-item":
                    var item = t.closest(".item");
                    window.createEditItemState(t.data("id") || item.data("id"));
                    window.getItemEdit();
                    break;
                case "remove-item":
                    window.removeItem(t.closest('.item').data("id"));
                    break;
                default:
                    window.createListState();
                    window.getList();
            }
        });

      
        $(window).on("popstate", function (e) {
            var state = e.originalEvent.state;
            window.currentState = state;

            if (window.currentState.Id != undefined) {
                window.getItemEdit(false);
            } else {
                window.getList(false);
            }
        });
    });

</script>