@model RelatedItem

<div class="item related-item rel">
    <div class="row">
        <div class="col-sm-1 col-xs-2">
            @Model.Id
        </div>
        <div class="col-sm-10 col-xs-8">
            @Model.Name
        </div>
        <div class="col-sm-1 text-right col-xs-2">
            <span class="btn btn-link btn-remove-relateditem" onclick="javascript: $(this).parents('.related-item').remove(); coreUtils.refreshListIndexes('.related-items');">
                <i class="fa fa-fw fa-trash"></i>
            </span>
        </div>
    </div>
    @Html.HiddenFor(x => x.Id, new { @class = "input", data_generic_name = "Id" })
</div>