@model DocEnterprise

<div class='card-sm' id="itemEnterprise@(Model.EnterpriseId)Doc@(Model.DocId)">
    <div class='row'>
        <div class="col-sm-10">
            @Model.Title
        </div>        
        <div class="col-sm-2 text-right">
            <span class='btn-link nav-link' data-action="remove-enterprise" data-enterprise-id="@Model.EnterpriseId" data-doc-id="@Model.DocId">
                <i class='fa fa-fw fa-trash'></i>
            </span>
        </div>
    </div>
</div>