@media (max-width: 1150px) {
	.container{
		width: 960px;
	}
	.inform_container_left{
		width: 570px;
	}
	.main_new{
		width: 571px;
	}
	.footer_top_info{
		margin-right: 50px;
	}
	.footer_top_menus .foot_menu1{
		margin-right: 5px;
	}
	.form_block_map .mapclass{
		width: 100%;
	}
	.form_block_map_comment{
		width: 100%;
		margin-top: 10px;
	}
	.add_new_files{
		width: 100%;
	}
	.main_content_left{width: 100%;}
	.counter_marker p, .counter_submarker p{
		width: 90%;
	}
	.home_reestr_search_text{
		width: 600px;
	}
	.home_reestr_elem{
		margin: 14px auto !important;
		display: block;
		height: 183px;
	}
	.main_content_left .inform_container_left, .inform_container_right {
		width: 100%;
	}
	.main_content_left .inform_container_left .main_new{
		width: 100%;
	}
	.dop_news_elems{
		display: none;
	}
	.news_right_col_elem{
		display: inline-block;
    	width: 49%;
	}
	.news_page.dop_news_elems{
		display: block;
	}
	.news_page.dop_news_elems .dop_news_elem{
		width: 100%;
	}
	.news_page.dop_news_elems .dop_news_elem .dop_news_elem_img{
		width: 220px;
		float: left;
		margin-right: 30px;
	}
	.contacts .main_content_right{
		display: none;
	}
	.repair_item .main_content_right{
		display: none;
	}
}